__pycache__/
*.pyc
.env
*.pt
.ipynb_checkpoints/
data/raw/Reviews.csv
data/raw/database.sqlite
data/processed/cleaned_reviews.csv
data/processed/X_train_tfidf.pkl
data/processed/X_test_tfidf.pkl
data/processed/y_train.pkl
data/processed/y_test.pkl
models/random_forest.pkl
models/logistic_regression.pkl
models/logistic_regression_best.pkl
models/naive_bayes.pkl
models/naive_bayes_best.pkldata/cleaned_reviews.csv 
data/database.sqlite 
data/hashes.txt 
models/linear_svm.pkl 
models/reverse_label_mapping.json 
